
<!-- Page Preloder -->
<div id="preloder">
  <div class="loader"></div>
</div>

<!-- Offcanvas Menu Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
  <div class="offcanvas__option">
    <div class="offcanvas__links">
      <a href="#">Sign in</a>
      <a href="#">FAQs</a>
    </div>
    <div class="offcanvas__top__hover">
      <span>Usd <i class="arrow_carrot-down"></i></span>
      <ul>
        <li>USD</li>
        <li>EUR</li>
        <li>USD</li>
      </ul>
    </div>
  </div>
  <div class="offcanvas__nav__option">
    <a href="#" class="search-switch"><img [src]="'assets/img/icon/search.png'" alt=""></a>
    <a href="#"><img [src]="'assets/img/icon/user.png'" alt=""></a>
    <a href="#"><img [src]="'assets/img/icon/cart.png'" alt=""> <span>0</span></a>
    <div class="price">$0.00</div>
  </div>
  <div id="mobile-menu-wrap"></div>
  <div class="offcanvas__text">
    <p>Darmowa dostawa od 200zł.</p>
  </div>
</div>
<!-- Offcanvas Menu End -->

<!-- Header Section Begin -->
<section id="home"></section>
<header class="header fixed-top" id="header" >
  <div class="header__top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-7">
          <div class="header__top__left">
            <p>Darmowa dostawa od 200zł.</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-5">
          <div class="header__top__right">
            <div class="header__top__links">
              <a href="#">Zadzwoń do nas: +48 184446563</a>
              <a href="#">biuro@cafeKam.pl</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-2 col-md-2">
        <div class="header__logo">
          <a href="./index.html"><img style="padding-left: 20px;" [src]="'assets/img/logo.png'" alt=""></a>
        </div>
      </div>
      <div class="col-lg-8 col-md-8">
        <nav class="header__menu mobile-menu">
          <ul>
            <li class="active"><a href="./index.html">Kawa</a></li>
            <li><a  [routerLink]="['/shop', { outlets: {'route4': ['dy','1']}}]">Ekspresy</a></li>
            <li><a href="./shop.html">Młynki</a></li>
            <li><a href="./shop.html">Części zamienne</a></li>
            <li><a href="./shop.html">Akcesoria</a>
              <ul class="dropdown">
                <li><a href="./about.html">About Us</a></li>
                <li><a href="./shop-details.html">Shop Details</a></li>
                <li><a href="./shopping-cart.html">Shopping Cart</a></li>
                <li><a href="./checkout.html">Check Out</a></li>
                <li><a href="./blog-details.html">Blog Details</a></li>
              </ul>
            </li>
            <li><a href="./blog.html">Serwis</a></li>
            <li><a class="navLink" (click)="ScrollToContact()">Kontakt</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-lg-2 col-md-2">
        <div class="header__nav__option">
          <span class="icon-span"><i class="la la-search"></i></span>
          <span class="icon-span icon-span-next"><i class="la la-user"></i></span>
          <span class="icon-span icon-span-next" ><i class="la la-shopping-bag"><span class="basket-shop">0.00zł</span></i></span>
        </div>
      </div>
    </div>
    <div class="canvas__open"><i class="fa fa-bars"></i></div>
  </div>
</header>
<!-- Header Section End -->

<!-- Hero Section Begin -->
<div id="articleRouter">




<section class="hero">
  <div class="hero__slider owl-carousel">


    <ngb-carousel >
      <ng-template ngbSlide >
    <div  class="hero__items set-bg  main-background carousel-item active"  style="background-image: url('/assets/img/kawa9.webp');">
      <div class="container">
        <div class="row">
          <div class="col-xl-5 col-lg-7 col-md-8" >
            <h2 class="" data-aos="zoom-in-right"  style="color: pink;font-family: 'Nunito Sans';">Przyjemność która</h2>

            <div class="" data-aos="fade-left" data-aos-delay="350">
              <h2 style="color: violet; padding-top: 10px;">mieści się w filiżance kawy</h2>
              <p style="color: #f3f3f3;">Stwórz kawiarnię we własnym domu</p>
              <a href="#" style="border: 1px solid white; color: #f3f3f3;" class="btn">Sprawdź ofertę<i class="la la-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
      </ng-template>



      <ng-template ngbSlide>
        <div  class="hero__items set-bg  main-background carousel-item active"  style="background-image: url('/assets/img/kawa9.jpg');">
          <div class="container">
            <div class="row">
              <div class="col-xl-5 col-lg-7 col-md-8" >
                <h2 class="" data-aos="zoom-in-right"  style="color: pink;font-family: 'Nunito Sans';">Przyjemność która</h2>

                <div class="" data-aos="fade-left" data-aos-delay="350">
                  <h2 style="color: violet; padding-top: 10px;">mieści się w filiżance kawy</h2>
                  <p style="color: #f3f3f3;">Stwórz kawiarnię we własnym domu</p>
                  <a href="#" style="border: 1px solid white; color: #f3f3f3;" class="btn">Sprawdź ofertę<i class="la la-arrow-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>



      <ng-template ngbSlide>
        <div  class="hero__items set-bg  main-background carousel-item active" data-aos="fade-up" data-aos-delay="2000"  style="background-image: url('/assets/img/kawa2.jpg');">
          <div class="container">
            <div class="row">
              <div class="col-xl-5 col-lg-7 col-md-8" >
                <h2 class="" data-aos="zoom-in-right"  style="color: pink;font-family: 'Nunito Sans';">Przyjemność która</h2>

                <div class="" data-aos="fade-left" data-aos-delay="350">
                  <h2 style="color: violet; padding-top: 10px;">mieści się w filiżance kawy</h2>
                  <p style="color: #f3f3f3;">Stwórz kawiarnię we własnym domu</p>
                  <a href="#" style="border: 1px solid white; color: #f3f3f3;" class="btn">Sprawdź ofertę<i class="la la-arrow-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>


      <ng-template ngbSlide>
        <div  class="hero__items set-bg  main-background carousel-item active"  style="background-image: url('/assets/img/kawa3.jpg');">
          <div class="container">
            <div class="row">
              <div class="col-xl-5 col-lg-7 col-md-8" >
                <h2 class="" data-aos="zoom-in-right"  style="color: pink;font-family: 'Nunito Sans';">Przyjemność która</h2>

                <div class="" data-aos="fade-left" data-aos-delay="350">
                  <h2 style="color: violet; padding-top: 10px;">mieści się w filiżance kawy</h2>
                  <p style="color: #f3f3f3;">Stwórz kawiarnię we własnym domu</p>
                  <a href="#" style="border: 1px solid white; color: #f3f3f3;" class="btn">Sprawdź ofertę<i class="la la-arrow-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>



      <ng-template ngbSlide>
        <div  class="hero__items set-bg  main-background carousel-item active"  style="background-image: url('/assets/img/kawa4.jpg');">
          <div class="container">
            <div class="row">
              <div class="col-xl-5 col-lg-7 col-md-8" >
                <h2 class="" data-aos="zoom-in-right"  style="color: pink;font-family: 'Nunito Sans';">Przyjemność która</h2>

                <div class="" data-aos="fade-left" data-aos-delay="350">
                  <h2 style="color: violet; padding-top: 10px;">mieści się w filiżance kawy</h2>
                  <p style="color: #f3f3f3;">Stwórz kawiarnię we własnym domu</p>
                  <a href="#" style="border: 1px solid white; color: #f3f3f3;" class="btn">Sprawdź ofertę<i class="la la-arrow-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>




      <ng-template ngbSlide>
        <div  class="hero__items set-bg  main-background carousel-item active"  style="background-image: url('/assets/img/kawa5.jpg');">
          <div class="container">
            <div class="row">
              <div class="col-xl-5 col-lg-7 col-md-8" >
                <h2 class="" data-aos="zoom-in-right"  style="color: pink;font-family: 'Nunito Sans';">Przyjemność która</h2>

                <div class="" data-aos="fade-left" data-aos-delay="350">
                  <h2 style="color: violet; padding-top: 10px;">mieści się w filiżance kawy</h2>
                  <p style="color: #f3f3f3;">Stwórz kawiarnię we własnym domu</p>
                  <a href="#" style="border: 1px solid white; color: #f3f3f3;" class="btn">Sprawdź ofertę<i class="la la-arrow-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>


      <ng-template ngbSlide>
        <div  class="hero__items set-bg  main-background carousel-item active"  style="background-image: url('/assets/img/kawa6.jpg');">
          <div class="container">
            <div class="row">
              <div class="col-xl-5 col-lg-7 col-md-8" >
                <h2 class="" data-aos="zoom-in-right"  style="color: pink;font-family: 'Nunito Sans';">Przyjemność która</h2>

                <div class="" data-aos="fade-left" data-aos-delay="350">
                  <h2 style="color: violet; padding-top: 10px;">mieści się w filiżance kawy</h2>
                  <p style="color: #f3f3f3;">Stwórz kawiarnię we własnym domu</p>
                  <a href="#" style="border: 1px solid white; color: #f3f3f3;" class="btn">Sprawdź ofertę<i class="la la-arrow-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>


    </ngb-carousel>

    <div class="hero__items set-bg" data-setbg="img/hero/hero-2.jpg">
      <div class="container">
        <div class="row">
          <div class="col-xl-5 col-lg-7 col-md-8">
            <div class="hero__text">
              <h6>Summer Collection</h6>
              <h2>Fall - Winter Collections 2030</h2>
              <p>A specialist label creating luxury essentials. Ethically crafted with an unwavering
                commitment to exceptional quality.</p>
              <a href="#" class="primary-btn">Shop now <span class="arrow_right"></span></a>
              <div class="hero__social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-pinterest"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Hero Section End -->


<!-- Product Section Begin -->
<section class="product spad" style="margin-top: -700px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="filter__controls" >

          <ng-container *ngFor="let articleLine of articleLines; let i = index;">

          <li class="listElement"  (click)="SwitchProductsSection(i,$event)" data-filter="*">{{articleLine.name}}</li>

          </ng-container>

        </ul>
      </div>
    </div>
    <div class="row product__filter">

   <ng-container *ngIf="articleLines.length > 0">
     <ng-container *ngFor="let product of articleLines[articleLineIndex].productList; let i=index;">
       <div data-aos="fade-up" data-aos-delay="150" class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">

         <div class="product__item">
           <div class="product__item__pic set-bg" style="background-image: url({{product.imageByte}});">
             <span class="label">New</span>
           </div>
           <div class="product__item__text">
             <h6>{{product.productName}}</h6>
             <a href="#" class="add-cart">+ Dodaj do koszyka</a>
             <div class="rating" style="letter-spacing: 5px;">
               <i style="color: #f7941d;" class="la la-star"></i>
               <i style="color: #f7941d;" class="la la-star"></i>
               <i  style="color: #f7941d;" class="la la-star"></i>
               <i  style="color: #f7941d;" class="la la-star"></i>
               <i  style="color: #f7941d;" class="la la-star"></i>

             </div>
             <h5>{{product.productPrice}} zł</h5>
             <div class="product__color__select">
               Szczegóły
             </div>
           </div>
         </div>

       </div>

     </ng-container>
   </ng-container>


    </div>
  </div>
</section>
<!-- Product Section End -->

<!-- Categories Section Begin -->
<section class="categories spad">
  <div class="container"  data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="1000">
    <div class="row">
      <div class="col-lg-1">
<!--        <div class="categories__text">-->
<!--          <h2>Clothings Hot <br /> <span>Shoe Collection</span> <br /> Accessories</h2>-->
<!--        </div>-->
      </div>
      <div class="col-lg-4">
        <div class="categories__hot__deal">
          <img [src]="'/assets/img/2.png'" alt="">
          <div class="hot__deal__sticker">
            <span>Promocja</span>
            <h5>39.99 zł</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-4 offset-lg-1">
        <div class="categories__deal__countdown">
          <span>Oferta tygodnia</span>
          <h2>Lavazza Crema 1kg</h2>
          <div class="categories__deal__countdown__timer" id="countdown">
            <div class="cd-item">
              <span>{{days|time}}</span>
              <p>Dni</p>
            </div>
            <div class="cd-item">
              <span>{{hours|time}}</span>
              <p>Godzin</p>
            </div>
            <div class="cd-item">
              <span>{{minutes|time}}</span>
              <p>Minut</p>
            </div>
            <div class="cd-item">
              <span>{{seconds|time}}</span>
              <p>Sekund</p>
            </div>
          </div>
          <a href="#" class="primary-btn">Kup teraz</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Categories Section End -->


<!-- Latest Blog Section Begin -->
<section class="latest spad">
  <div class="container" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-delay="500">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <span></span>
          <h2>Blog Kawowy</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="blog__item">
          <div class="blog__item__pic set-bg" style="background-image: url('assets/img/blok.PNG')"></div>
          <div class="blog__item__text">
            <span><i class="la la-calendar"></i>  25 Maja 2021</span>
            <h5>Konserwacja bloku zaparzającego</h5>
            <a href="#">Czytaj wpis</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="blog__item">
          <div class="blog__item__pic set-bg" style="background-image: url('assets/img/jurae8.jpg')"></div>
          <div class="blog__item__text">
            <span><i class="la la-calendar"></i>  27 Maja 2021</span>
            <h5>Test ekspresu Jura E8 Cappucino</h5>
            <a href="#">Czytaj wpis</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="blog__item">
          <div class="blog__item__pic set-bg" style="background-image: url('assets/img/kawablog.jpg')"></div>
          <div class="blog__item__text">
            <span><i class="la la-calendar"></i>   31 Maja 2021</span>
            <h5>Jak wybrać kawę, żeby smakowała?</h5>
            <a href="#">Czytaj wpis</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Latest Blog Section End -->

<!-- Footer Section Begin -->


<!--  articlerouter-->
</div>
<!---->


<router-outlet name="route4"></router-outlet>


<div id="footer"></div>
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="footer__about">
          <div class="footer__logo">
            <a href="#"><img [src]="'/assets/img/footer-logo.png'" alt=""></a>
          </div>
          <p>Klient jest sercem każdego biznesu.</p>
          <a href="#"><img [src]="'/assets/img/payment.png'" alt=""></a>
        </div>
      </div>
      <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
        <div class="footer__widget">
          <h6>Informacje</h6>
          <ul>

            <li><a href="#">Regulamin</a></li>
            <li><a href="#">Metody Płatności</a></li>
            <li><a href="#">Dostawa</a></li>
            <li><a href="#">Zwroty</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-6">
        <div class="footer__widget">
          <h6>Kontakt</h6>
          <ul>
            <li style="color: #b7b7b7;"><i class="la la-map-marker"><span style="margin-left: 4px;">Łącko</span></i></li>
            <li style="color: #b7b7b7;"><i class="la la-envelope"><span style="margin-left: 4px;">cafekam@gmail.com</span></i></li>
            <li style="color: #b7b7b7;"><i class="la la-phone"><span style="margin-left: 4px;">182224567</span></i></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
        <div class="footer__widget">
          <h6>NewsLetter</h6>
          <div class="footer__newslatter">
            <p>Zapisz się do newslettera i bądź na bieżąco z nowościami!</p>
            <form action="#">
              <input type="text" placeholder="Twój e-mail">
              <button type="submit"><span class="icon_mail_alt"></span></button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="footer__copyright__text">
          <p>
            CafeKam 2021
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>

<a (click)="ScrollToTop()"  class="back-to-top"><i class="la la-arrow-up"></i></a>

<!-- Footer Section End -->

<!-- Search Begin -->
<div class="search-model">
  <div class="h-100 d-flex align-items-center justify-content-center">
    <div class="search-close-switch">+</div>
    <form class="search-model-form">
      <input  type="text" id="search-input" placeholder="Search here.....">
    </form>
  </div>
</div>
<!-- Search End -->
