<div class="container-fluid">
  <div class="row rowTable ">

    <div class="col-3">
      <button routerLink="/addClient" class="btn btn-primary"> Dodaj nowy</button>
    </div>
    <div class="col-3">
      <select  name="sort" class="form-control">
        <option>Alfabetycznie</option>
        <option>Id malejaco</option>
        <option>Id rosnaco</option>

      </select>
    </div>
    <div class="col-3">
    </div>
    <div class="col-3">
      <input  [(ngModel)]="searchtext" name="search" class="form-control" placeholder="Szukaj.." autocomplete="off" type="text">
    </div>

    <div class="col-12 colTable">
      <table class="table table-dark table-striped" id="tableToPdf">
        <thead>
        <tr>
          <td>Id</td>
          <td>NIP</td>
          <td>Nazwa</td>
          <td>Konto</td>
          <td>Adres</td>
          <td>Telefon</td>
          <td>Akcje </td>

        </tr>
        </thead>

        <tbody>
        <tr  *ngFor="let c of clients | filter:searchtext | paginate:{id:'listing_pagination',itemsPerPage:8, currentPage:page,totalItems:totalRecords}" >
          <td>{{c.id}}</td>
          <td>{{c.nip}}</td>
          <td>{{c.buyer}}</td>
          <td>{{c.account}}</td>
          <td>{{c.address}}</td>
          <td>{{c.phoneNumber}}</td>

          <td>
            <button type="button"  (click)="DeleteOneClientInDatabase(c.id)" class="btn btn-danger">Delete</button>
            <a routerLink="/editClient"> <button type="button" (click)="GetOneProductFromDatabase(c.id)" class="btn btn-primary">Edit</button></a>
          </td>
        </tr>
        </tbody>
      </table>
      <div>
        <pagination-controls id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page=$event"></pagination-controls>
      </div>

    </div>


  </div>





</div>


