<div class="container" style=" margin-left: auto; margin-right: auto; margin-top: 50px;">
  <div class="row justify-content-around">
    <div class="col-12 align-self-center">
       <div class="row justify-content-center" >
          <div class="col-md-6 login_form_container">

               <div class="row">
                   <div class="col header-description">
                     Zaloguj się
                   </div>
                 </div>

                 <div class="row">
                   <div class="col">
                     <form ngNativeValidate (ngSubmit)="Login()">
                       <div style="margin-left: auto; margin-right: auto; " >
                         <input   class="txtb" placeholder="Login"  type="text" name="username" [(ngModel)]="username"  autocomplete="off" required pattern="[a-zA-Z0-9]*" >
                       </div>

                       <div >
                         <input class="txtb" placeholder="Hasło" type="password" name="password" [(ngModel)]="password"  autocomplete="off" pattern="[a-zA-Z0-9.]*" >
                       </div>

                       <div [routerLink]="['/shop', {outlets: {route4: ['haslo','zmiana']}}]" class="bottom-text">
                         Nie pamietasz hasła?
                       </div>


                       <div>
                         <input type="submit" class="txtb" style="margin-bottom:30px; background-color: rgb(0, 130, 250); border: none; color: #f3f3f3;" value="Zaloguj" >
                       </div>
                     </form>
                   </div>
                 </div>
             </div>



          <div class="col-md-6 left_container">

                 <div class="row">
                   <div class="col header-description">
                     Nie masz konta ?
                   </div>
                 </div>

                 <div class="row">
                   <div class="col">
                     <form>
                       <div style="margin-left: auto; margin-right: auto;" >
                         <button [routerLink]="['/shop', {outlets: {route4: ['rejestracja']}}]"  class="txtb right" style="border: 1px solid rgb(0, 130, 250); color:blue;" >Zarejestruj się</button>
                       </div>
                     </form>
                   </div>
                 </div>

                <div class="row description_row">
                  <div class="col description_col">
                   <span class="col description_col_span"><strong>Dlaczego warto założyć konto?</strong></span>
                  </div>
                </div>

                 <div class="row option_row">
                   <div class="col option_col">
                     <p><i class="fa fa-laptop" aria-hidden="true"></i> <span class="word">Szybsze zamówienia</span></p>
                     <p><i class="fa fa-file-text-o" aria-hidden="true"></i> <span class="word">Pobieranie faktur</span></p>
                     <p><i class="fa fa-cube" aria-hidden="true"></i> <span class="word">Śledzenie zamówień</span></p>
                     <p><i class="fa fa-folder-open-o" aria-hidden="true"></i> <span class="word">Sprawdzanie poprzednich zamówień</span></p>

                   </div>
                 </div>
          </div>
       </div>
    </div>
  </div>
</div>

<ng-template #alert>
  <div   style="text-align: center; font-size: 20px;" class="alert  alert-dismissible fade show" role="alert">
    <button (click)="CloseAlertModal()" type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>Uwaga!</strong> {{text}}

  </div>


</ng-template>





