<div class="row">
  <div class="col-12">
    <div class="row">
      <div class="col-12"  style="font-size: 25px; padding-left:15px; line-height: 30px; padding-bottom: 15px; ">
        Dane Konta
      </div>
    </div>

    <div class="row">
      <div class="form-group formGroup">
        <label class="labelInput" for="userEmail">Adres e-mail</label>
        <div id="userEmail" class="form-control">
          <div class="row">
            <div style="text-align: left;" class="col-6"><span class="dataSpan">{{userEmail}}</span></div>
            <div style="text-align: right;" class="col-6"><i class="la la-pencil iconPencil" aria-hidden="true"></i></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group formGroup">
        <label class="labelInput" for="userLogin">Login</label>
        <div id="userLogin" class="form-control">
          <div class="row">
            <div style="text-align: left;" class="col-6"><span class="dataSpan">{{userLogin}}</span></div>
            <div style="text-align: right;" class="col-6"><i class="la la-pencil iconPencil" aria-hidden="true"></i></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class=" form-group formGroup">
        <label class="labelInput" for="userPassword">Hasło</label>
        <div id="userPassword" class="form-control">
          <div class="row">
            <div style="text-align: left;" class="col-6"><span class="dataSpan">{{userPassword}}</span></div>
            <div style="text-align: right;" class="col-6"><i class="la la-pencil iconPencil" aria-hidden="true"></i></div>
          </div>
          <div class="row">
            <div ><span class="description">Ostatnia zmiana hasła {{date}}</span></div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>

















<!--<div class="row">-->
<!--  <div class="col-6 form-group formGroup">-->
<!--    <label class="labelInput" for="userEmail">E-mail</label>-->
<!--    <input [(ngModel)]="userEmail" class="form-control" type="email" id="userEmail" placeholder="E-mail" readonly>-->
<!--  </div>-->
<!--  <div class="col-6 form-group formGroup">-->
<!--    <button style="margin-top: 33px;"  class="btn btn-primary" type="submit">Edytuj</button>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="row">-->
<!--  <div class="col-6 form-group formGroup">-->
<!--    <label class="labelInput" for="password">Login</label>-->
<!--    <input [(ngModel)]="userLogin" class="form-control" type="password" id="login" placeholder="Hasło">-->
<!--  </div>-->
<!--  <div class="col-6 form-group formGroup">-->
<!--    <button  style="margin-top: 33px;" class="btn btn-primary" type="submit">Edytuj</button>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="row">-->
<!--  <div class="col-6 form-group formGroup">-->
<!--    <label class="labelInput" for="password">Hasło</label>-->
<!--    <input [(ngModel)]="userPassword" class="form-control" type="password" id="password" placeholder="Hasło">-->
<!--    <span class="description">Ostatnia zmiana hasła {{date}}</span>-->
<!--  </div>-->
<!--  <div class="col-6 form-group formGroup">-->
<!--    <button  style="margin-top: 33px;" class="btn btn-primary" type="submit">Edytuj</button>-->
<!--  </div>-->
<!--</div>-->
