
<div class="container-fluid">
<div class="row right-content">
  <div class="col-12">
    <div class="row cards-main-container">


      <div class="card-container col-md">
        <div class="row">
          <div class="col-8 card-container-col8" >
            <div class="row " >
              <div class="col name-card">NOWE ZAMÓWIENIA</div>
            </div>
            <div class="row">
              <div class="col data-card">3</div>
            </div>
          </div>
          <div class="col-4">
            <div id="icon1" class="icon-container">
              <i  class="fa fa-list-alt"></i>
            </div>
          </div>
        </div>
      </div>


      <div class="card-container col-md">
        <div class="row">
          <div class="col-8 card-container-col8" >
            <div class="row">
              <div class="col name-card">NOWE ZLECENIA</div>
            </div>
            <div class="row">
              <div class="col data-card">12</div>
            </div>
          </div>
          <div class="col-4">
            <div id="icon2" class="icon-container">
              <i  class="fa fa-car"></i>
            </div>
          </div>
        </div>
      </div>


      <div class="card-container col-md">
        <div class="row">
          <div class="col-8 card-container-col8" >
            <div class="row">
              <div class="col name-card">Faktury</div>
            </div>
            <div class="row">
              <div class="col data-card">212</div>
            </div>
          </div>
          <div class="col-4">
            <div id="icon3" class="icon-container">
              <i  class="fa fa-cogs icon-card"></i>
            </div>
          </div>
        </div>
      </div>


      <div class="card-container col-md">
        <div class="row">
          <div class="col-8 card-container-col8" >
            <div class="row">
              <div class="col name-card">STAN KASY</div>
            </div>
            <div class="row">
              <div class="col data-card">1222</div>
            </div>
          </div>
          <div class="col-4">
            <div id="icon4" class="icon-container">
              <i  class="fa fa-cogs icon-card"></i>
            </div>
          </div>
        </div>
      </div>


    </div>


  </div>
</div>




<div class="row under-right-content">
  <div class="col-12">
    <div class="row ">
      <div class="col" style = " margin-top: -80px; padding: 0;">
        <div style=" background-color: #172b4d; margin-left:27px;  border-radius: 6px; ">
          <canvas id="chart-sales-dark" class="chart-canvas " ></canvas>
        </div>
      </div>

      <div class="col" style = "margin-top: -80px; padding: 0; ">
        <div style = "margin-left:15px; width: 93%; height: 100%;  background-color: #f3f3f3; border-radius: 6px;">
          <table class="table  table-borderless  table-striped">
            <thead>
            <tr>
              <td>id</td>
              <td>jeden</td>
              <td>dwa</td>
              <td>czy</td>
              <td>tyryś</td>
            </tr>
            </thead>

            <tbody>
            <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
            </tr>
            <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
            </tr>
            <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
            </tr>
            <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
            </tr>
            <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>

    <div class="row" style="margin-top: 60px;">
      <div class="col-12" >
        <div style = "margin-left:12px; width: 98%; height: 100%;  background-color: #f3f3f3; border-radius: 16px;">
          <table class="table    table-bordered ">
            <thead>
            <tr>
              <td>id</td>
              <td>jeden</td>
              <td>dwa</td>
              <td>czy</td>
              <td>tyryś</td>
            </tr>
            </thead>

            <tbody>
            <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
            </tr>
            <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
            </tr>
            <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
            </tr>
            <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
            </tr>
            <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
            </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>




  </div>
</div>
</div>
