
<section class="shopping-cart spad">


<div class="container-fluid" style="margin-left: auto; margin-right: auto; margin-top: 30px;">
  <div class="row justify-content-around">
    <div class="col-12 align-self-center" >

      <greater-devices>

      <div class="row justify-content-center">
        <div class="col-md-3" style="padding: 25px;">
          <div class="row">
            <div class="col">
              <div class="userPanelMenu" style="font-weight: 600;padding-bottom: 25px;">Witaj {{nameOfUser}},</div>
            </div>
          </div>

          <div class="row" id="border">
            <div class="col" >

              <div class="userPanelMenu row">
                <div class="col-2">
                    <span>
                      <i class="fa fa-desktop" aria-hidden="true"></i>
                   </span>
                </div>

                <div class="col-10 optionDescription"  style="text-align: left;">
                  <a id="userDashboard" (click)="ChangeColor($event)"  [routerLink]="['/sklep', {outlets: {route4: 'konto'}}]" class="menuOption">Kokpit</a>
                </div>
              </div>


              <div class="userPanelMenu row">
                <div class="col-2">
                    <span>
                      <i class="fa fa-cube" aria-hidden="true"></i>
                   </span>
                </div>

                <div class="col-10 optionDescription" style="text-align: left;">
                  <a id="userOrders" (click)="ChangeColor($event)"  [routerLink]="[{outlets: {route5: 'zamówienia'}}]" class="menuOption">Zamówienia</a>
                </div>
              </div>





              <div class="userPanelMenu row">
                <div class="col-2">
                    <span>
                      <i class="fa fa-file-alt" aria-hidden="true"></i>
                   </span>
                </div>

                <div class="col-10 optionDescription"  style="text-align: left;">
                  <a id="userComplaints" (click)="ChangeColor($event)"  [routerLink]="[{outlets: {route5: 'reklamacje'}}]" class="menuOption">Reklamacje</a>
                </div>
              </div>


              <div class="userPanelMenu row">
                <div class="col-2">
                    <span>
                      <i class="fa fa-address-book" aria-hidden="true"></i>
                   </span>
                </div>

                <div class="col-10 optionDescription"  style="text-align: left;">
                  <a id="userAdresses" (click)="ChangeColor($event)"  [routerLink]="[{outlets: {route5: 'adresy'}}]" class="menuOption">Adresy</a>
                </div>
              </div>


              <div class="userPanelMenu row">
                <div class="col-2">
                    <span>
                      <i class="fa fa-envelope" aria-hidden="true"></i>
                   </span>
                </div>

                <div class="col-10 optionDescription"  style="text-align: left;">
                  <a id="userMessages" (click)="ChangeColor($event)"  [routerLink]="[{outlets: {route5: 'wiadomości'}}]" class="menuOption">Wiadomości</a>
                </div>
              </div>


              <div class="userPanelMenu row" >
                <div class="col-2">
                    <span>
                      <i class="fa fa-cog" aria-hidden="true"></i>
                   </span>
                </div>

                <div class="col-10 optionDescription"  style="text-align: left;">
                  <a id="userSettings" (click)="ChangeColor($event)"  [routerLink]="[{outlets: {route5: 'ustawienia'}}]" class="menuOption">Ustawienia</a>
                </div>
              </div>


              <div class="userPanelMenu row">
                <div class="col-2">
                    <span>
                      <i class="fa fa-sign-out-alt" aria-hidden="true"></i>
                   </span>
                </div>

                <div class="col-10 optionDescription"  style="text-align: left;">
                  <a  (click)="LogOut()" class="menuOption">Wyloguj</a>
                </div>
              </div>


            </div>
          </div>
        </div>

        <div class="col-md-9" style="padding: 25px;">
           <div id="userDashboardCard">
            <div class="container" >
              <div class="row">
                <div class="col-md-3">
                  <div class="card-counter primary">
                    <i class="fa fa-cubes"></i>
                    <span class="count-numbers">12</span>
                    <span class="count-name">Zamówienia</span>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="card-counter danger">
                    <i class="fa fa-envelope"></i>
                    <span class="count-numbers">599</span>
                    <span class="count-name"> Wiadomości</span>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="card-counter success">
                    <i class="fa fa-file-alt"></i>
                    <span class="count-numbers">0</span>
                    <span class="count-name">Reklamacje</span>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="card-counter info">
                    <i class="fa fa-users"></i>
                    <span class="count-numbers">35</span>
                    <span class="count-name">Logowanie</span>
                  </div>
                </div>
              </div>

          <div class="row">
          <div class="col-12" style = "padding: 0; margin-top: 30px; ">
            <div style = "margin-left:auto; margin-right: auto; width: 97%; height: 100%; overflow-x:scroll; background-color: dodgerblue; border-radius: 6px;">
              <table style="color: white!important;" class="table  table-borderless  table-striped">
                <thead>
                <tr>
                  <th>Data</th>
                  <th>Czas</th>
                  <th>Adres Ip</th>
                  <th>Zmiany</th>
                  <th>Kraj</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                  <td>22.05.2020</td>
                  <td>13:34:21</td>
                  <td>{{ip}}</td>
                  <td>Tak</td>
                  <td>Polska</td>

                </tr>
                <tr>
                  <td>23.05.2020</td>
                  <td>15:34:21</td>
                  <td>192.168.32.32</td>
                  <td>Nie</td>
                  <td>Polska</td>
                </tr>
                <tr>
                  <td>28.05.2020</td>
                  <td>19:34:21</td>
                  <td>192.168.32.32</td>
                  <td>Nie</td>
                  <td>Polska</td>
                </tr>
                <tr>
                  <td>28.05.2020</td>
                  <td>23:34:21</td>
                  <td>192.168.32.32</td>
                  <td>Nie</td>
                  <td>Polska</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          </div>
            </div>

           </div>




          <router-outlet  name="route5">
            <ngx-ui-loader  [hasProgressBar]="false" loaderId="2"  fgsColor="black" fgsType="ball-spin" overlayColor="white"></ngx-ui-loader>
          </router-outlet>

        </div>
      </div>
      </greater-devices>



<!--      <small-devices>-->



<!--        <div class="row " style="text-align: left; font-size: 30px; ">-->
<!--         <span (click)="ShowMenuSmallDevices()"> <i class="fa fa-bars" aria-hidden="true"></i></span>-->
<!--          <span class="span_username">Witaj {{nameOfUser}},</span>-->
<!--        </div>-->


<!--         <menu id="menu" style="display: none;">-->
<!--            <div class="row justify-content-center">-->
<!--              <div class="col-12" style="padding: 25px;">-->

<!--                <div class="col">-->
<!--                  <div class="userPanelMenu"> <i class="fa fa-desktop" aria-hidden="true"></i> <span  [routerLink]="['/shop', {outlets: {route4: 'konto'}}]" class="menuOption">Kokpit</span> </div>-->
<!--                  <div class="userPanelMenu"> <i class="fa fa-cube" aria-hidden="true"></i> <span id="orders1" [routerLink]="[{ outlets: {'route5': ['zamówienia']}}]" class="menuOption">Zamówienia</span> </div>-->
<!--                  <div class="userPanelMenu"> <i class="fa fa-calendar-plus-o" aria-hidden="true"></i> <span  [routerLink]="[{ outlets: {'route5': ['reklamacje']}}]" class="menuOption">Reklamacje</span> </div>-->
<!--                  <div class="userPanelMenu"> <i class="fa fa-address-card-o " aria-hidden="true"></i> <span id="addresses1"  [routerLink]="[{outlets: {'route5': ['adresy']}}]"class="menuOption">Adresy</span> </div>-->
<!--                  <div class="userPanelMenu"> <i class="fa fa-cogs" aria-hidden="true"></i> <span  [routerLink]="[{ outlets: {'route5': ['ustawienia']}}]"class="menuOption">Ustawienia konta</span> </div>-->
<!--                  <div class="userPanelMenu"> <i class="fa fa-envelope" aria-hidden="true"></i> <span  [routerLink]="[{ outlets: {'route5': ['wiadomości']}}]"class="menuOption">Wiadomości</span> </div>-->
<!--                  <div class="userPanelMenu"> <i class="fa fa-sign-out" aria-hidden="true"></i> <span (click)="LogOut()" class="menuOption">Wyloguj</span> </div>-->

<!--                </div>-->

<!--              </div>-->
<!--           </div>-->
<!--         </menu>-->





<!--        <div class="col-12">-->
<!--            <router-outlet  name="route5">-->
<!--              <ngx-ui-loader  [hasProgressBar]="false" loaderId="2"  fgsColor="black" fgsType="ball-spin" overlayColor="white"></ngx-ui-loader>-->
<!--            </router-outlet>-->
<!--         </div>-->
<!--      </small-devices>-->


  </div>
</div>
</div>
</section>





<ng-template #logOutAlert>
  <div   style="text-align: center; font-size: 20px;" class="alert  alert-dismissible fade show" role="alert">
    <strong>Uwaga!</strong> Wylogowano pomyślnie.
    <button (click)="CloseAlertModal()" type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

</ng-template>



























  <!--<div class="container-fluid ContainerAll">-->
<!--  <div  class="row navbartop navbar navbar-nav">-->
<!--    <div id="navTime">-->

<!--      {{time}}-->

<!--    </div>-->
<!--  </div>-->

<!--  <div class="row">-->
<!--    <div class="col-2 left-sidebar">-->
<!--      <div class="row">-->

<!--        <div class="col-12 colSidebar ">-->
<!--          <a href="/hom">-->
<!--            Strona Główna-->
<!--          </a>-->
<!--        </div>-->
<!--        <div class="col-12 colSidebar ">-->
<!--          <a  [routerLink]="['/userHome', { outlets: {'route5': ['order'] }}]">-->
<!--            Twoje Zamówienia-->
<!--          </a>-->

<!--        </div>-->
<!--        <div class="col-12 colSidebar ">-->
<!--          <a href="/hom">-->
<!--            Komunikator-->
<!--          </a>-->
<!--        </div>-->

<!--        <div class="col-12 colSidebar ">-->
<!--          <a routerLink="/putInvoice">-->
<!--            Ustawienia-->
<!--          </a>-->
<!--        </div>-->


<!--        <div class="col-12 colSidebar ">-->
<!--          <a routerLink="/datacompany">-->
<!--            Schowek-->
<!--          </a>-->
<!--        </div>-->
<!--        <div class="col-12 colSidebar">-->
<!--          <a routerLink="/currencyState">-->
<!--            Aktualny stan walut-->
<!--          </a>-->
<!--        </div>-->

<!--        <div class="col-12 colSidebar">-->
<!--          <a href="/login">-->
<!--            Informacje-->
<!--          </a>-->
<!--        </div>-->

<!--        <div class="col-12 colSidebar">-->
<!--          <a href="/login">-->
<!--            Twoje Dane-->
<!--          </a>-->
<!--        </div>-->

<!--        <div class="col-12 colSidebar">-->
<!--          <a href="/login">-->
<!--            Usługi-->
<!--          </a>-->
<!--        </div>-->



<!--      </div>-->
<!--    </div>-->
<!--    <div class="col-10 right-sidebar">-->

<!--      <router-outlet name="route5"></router-outlet>-->


<!--    </div>-->

<!--  </div>-->

<!--</div>-->
