<div class="container-fluid ContainerAll">
  <div  class="row navbartop navbar navbar-nav">
    <div id="navTime">
  {{time}}
    </div>
  </div>

  <div class="row">
    <div class="col-2 left-sidebar">
      <div class="row">

        <div class="col-12 colSidebar ">
          <a href="/hom">
            Zamówienia
          </a>
        </div>
        <div class="col-12 colSidebar ">
          <a [routerLink]="['/home', { outlets: {'route3': ['state'] }}]">Produkty</a>
        </div>
        <div class="col-12 colSidebar ">
          <a [routerLink]="['/home', { outlets: {'route3': ['clients'] }}]">Klienci</a>
        </div>

        <div class="col-12 colSidebar ">
          <a routerLink="/putInvoice">
            Faktury
          </a>
        </div>


        <div class="col-12 colSidebar ">
          <a routerLink="/datacompany">
            Dane Firmy
          </a>
        </div>
        <div class="col-12 colSidebar">
          <a routerLink="/currencyState">
            Aktualny stan walut
          </a>
        </div>

        <div class="col-12 colSidebar">
          <a href="/login">
            bcyzenie
          </a>
        </div>



      </div>
    </div>
    <div class="col-10 right-sidebar">
      <router-outlet name="route3"></router-outlet>

    </div>

  </div>

</div>
