<ng-container *ngIf="orders.length > 0, else empty,then contains "></ng-container>



<ng-template #contains>


<div class="container">
  <table class="table table-striped table-dark">
    <thead>
    <tr>
      <td class="tableHeader">Numer</td>
      <td class="tableHeader">Data</td>
      <td class="tableHeader">Status</td>
      <td class="tableHeader">Dostawa</td>
      <td class="tableHeader">Płatność</td>
      <td class="tableHeader">Kwota</td>
      <td class="tableHeader">Dowód zakupu</td>
    </tr>
    </thead>

    <tbody>


    <tr *ngFor="let order of orders| paginate:{id:'listing_pagination',itemsPerPage:6, currentPage:page,totalItems:totalRecords}">
      <td>12/23.12.2020</td>
      <td>{{order.date}}</td>
      <td>{{order.state}}</td>
      <td>{{order.deliveryOption}}</td>
      <td>{{order.paymentMethod}}</td>
      <td>{{order.sumPaid}}</td>
      <td class="getInvoiceButton"  (click)="GetInvoice(order.id)">Pobierz fakturę</td>
    </tr>

    </tbody>


  </table>
</div>



<ng-container *ngIf="orders.length > 1; then exists; else noexists"></ng-container>

<ng-template #exists >
  <div class="paginationContainer">
    <pagination-controls id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page=$event"></pagination-controls>
  </div>
</ng-template>

<ng-template #noexists>
</ng-template>



</ng-template>



<ng-template  #empty>
  <div class="col-12 noProductInscription">
    Brak zamówień
  </div>
</ng-template>


