<div class="container">

  <header>
    <div id="titleItem" class="article-title">
      Cennik
    </div>
  </header>

  <article>
    <div style=" margin-top: 30px; background-color: white;">

    <accordion [isAnimated]="true">

      <ng-container *ngFor="let category of categories">
        <accordion-group [heading]="category|categories">
          <ng-container *ngFor="let priceList of arrayPriceList">

            <ng-container *ngIf="priceList.category.toLowerCase() === category.toLowerCase(); then view"></ng-container>
            <ng-template #view>

              <div class="row" style="margin-bottom: 10px; font-size: 17px;">
                <div class="col-8">
                  {{priceList.name}}
                </div>

                <div class="col-4" style="font-weight: 600;">
                  {{priceList.price}} zł
                </div>

              </div>
            </ng-template>
          </ng-container>
        </accordion-group>
      </ng-container>
    </accordion>

    </div>
  </article>
</div>
