<div class="container-fluid main">
  <div style="text-align: center; padding-bottom: 10px; width: 500px; border-radius: 20px; border: 3px solid #fad38e; margin:auto; font-size: 30px;">

    Rejestracja


    <div class="row">


      <form class="login-form col-12">

        <div style="margin-left: auto; margin-right: auto;" >
          <input  class="txtb" placeholder="Login"  type="text" name="username" [(ngModel)]="email" required autocomplete="off" >
        </div>

        <div >
          <input class="txtb" placeholder="Password" type="password" name="password" [(ngModel)]="password" required autocomplete="off" >

        </div>
        <div>
          <input  class="txtb" placeholder="E-mail"  name="email" [(ngModel)]="confirmPassword"  required autocomplete="off" >

        </div>
        <input  type="submit" class="btn btn-outline-dark logbtn" value="Zaloguj" (click)="ChangePassword()">
      </form>
    </div>
  </div>
</div>



