  <ngb-carousel >
    <ng-template ngbSlide>
      <div class="wrapper">
        <img src="https://systemykawowe.pl/modules/homeslider/images/9365a5800f9ebac5ee38202197884f3dc4991463_Lirika-machines-PL.jpg" alt="Random first slide">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="wrapper">
        <img src="https://systemykawowe.pl/modules/homeslider/images/9dd4fcd16f684023b6d8c13bac4107752a3edc2a_Pleasure-slide-pl.jpg" alt="Random first slide">
      </div>
    </ng-template>
  </ngb-carousel>

