

<div class="container-fluid" id="tableToPdf" >


  <div class="row rowstart">
    <div class="col-6 colstart">
       Faktura nr 1
    </div>
    <div class="col-6 colstart1 colstart">
     Data wystawienia {{date1}}
    </div>
  </div>

  <div class="row centerrow">

    <div class="col-3 ">
     <p class="underline">Sprzedawca</p>
      <ng-container *ngFor="let c of company">
        <p>{{c.nameOfCompany}}</p>
        <p>{{c.adressOfCompany}}</p>
        <p> NIP {{ c.nip}}</p>
        <p> tel {{c.phoneNumber}}</p>
      </ng-container>

    </div>

    <div class="col-3 ">
    </div>

    <div class="col-3 ">
      <p class="underline"> Nabywca</p>
      <p>{{buyer1}}</p>
      <p>{{address1}}</p>
      <p>NIP {{ nip1}}</p>
      <p>tel {{ phoneNumber1}}</p>
    </div>
  </div>

  <div class="table row tableMain">
    <div class="col-12">
      <table class="table  ">
        <thead>
        <tr class="tableInvoice">
          <td class="tdColor">lp</td>
          <td class="tdColor">Nazwa Towaru</td>
          <td class="tdColor">Kod</td>
          <td class="tdColor">Ilość</td>
          <td class="tdColor">Jdn</td>
          <td class="tdColor">Cena netto </td>
          <td class="tdColor">Rabat </td>
          <td class="tdColor">Stawka Vat </td>
          <td class="tdColor">Wart.Netto </td>
          <td class="tdColor">Wart.Vat </td>
          <td class="tdColor">Wart.Brutto </td>

        </tr>

        </thead>

        <tbody>
        <tr *ngFor="let d of dataarray;let i = index;">
          <td>{{i}}</td>
          <td>{{d.nameOfProduct}}</td>
          <td>{{d.cod}}</td>
          <td>{{d.quantity}}</td>
          <td>{{d.unit}}</td>
          <td>{{d.nettoPrice}}</td>
          <td>{{d.discount}}</td>
          <td>{{d.rateVat}}</td>
          <td>{{d.nettoValue}}</td>
          <td>{{d.vatValue}}</td>
          <td>{{d.bruttoValue}}</td>


        </tr>


        </tbody>
      </table>
    </div>
  </div>
  <br>
  <br>

    <div class="row">
      <div class="col-6">
        <table class="table">
          <thead>
          <tr class="tableInvoice">
            <td class="tdColor"></td>
            <td class="tdColor">Wartość Netto</td>
            <td class="tdColor">Wartość Vat</td>
            <td class="tdColor">Wartość Brutto</td>

          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="tdColor">Razem</td>
            <td>{{sumNettoValue1}}</td>
            <td>{{sumVatValue1}} </td>
            <td>{{sumBruttoValue1}}</td>

          </tr>
          </tbody>
        </table>

      </div>
      <div class="col-6 rest">
        <div class= "parrest">Sposób płatności : {{payForm1}}</div>
        <div class="parrest">Termin płatności :  {{paymentDeadline1}}</div>
          <div class="parrest"> Konto :  {{account1}}</div>

      </div>

    </div>

  <div class="row endrow">
    <div class="col-12">
      Razem do zapłaty {{sumBruttoValue1}} PLN

    </div>

  </div>
</div>

  <div class="row last-row">
    <div class="col-12 last-col">

      <button (click)="clicks()" class="btn btn-primary">Pobierz</button>

    </div>

  </div>




