<div class="container" id="anchor">
  <ng-container *ngIf="tokenJwt === true,else absent,then present"></ng-container>

  <ng-template #absent >

    <div id="selectOption">
       <div class="row">
         <div class="col-12">
             <span class="spanButton"> 1.Dołącz do nas!</span>
         </div>
      </div>

         <div class="row buttonDiv">
           <div class="col-lg-4 " >
              <a [routerLink]="['/shop', {outlets: {route4: ['logowanie']}}]"> <button class="btn-outline-dark btn button" >Zaloguj się</button></a>
          </div>

          <div class="col-lg-4 buttonsDiv_col" >
             <button (click)="BuyNoRegister()" class="btn-outline-dark btn button">Kup bez rejestracji</button>
          </div>

          <div class="col-lg-4 buttonsDiv_col">
            <a [routerLink]="['/shop', {outlets: {route4: ['rejestracja']}}]"> <button  class="btn-outline-dark btn button">Rejestracja</button></a>
         </div>
       </div>
    </div>


    <div id="OrderForm">
      <ng-container *ngTemplateOutlet="form"></ng-container>
    </div>

  </ng-template>

  <ng-template #present>

    <ng-container *ngTemplateOutlet="form"></ng-container>

  </ng-template>

</div>




<ng-template #form>

    <div class="row formContainer">
      <div class="col-12 ">

        <div class="row descriptionPoint">
          <div class="col-12">
            <span class="spanButton"> 1.Dane odbiory przesyłki</span>
          </div>
       </div>

      <div class="row inputRow">
          <div class="col-lg"></div>
          <div class="col-lg">
            <input type="text" class="form-control colForm" placeholder="Imie" name="name"  [(ngModel)]="this.shopClient.name" autocomplete="off">
          </div>
          <div class="col-lg">
            <input type="text" class="form-control colForm" placeholder="Nazwisko"  name="surname"  [(ngModel)]="this.shopClient.surname" autocomplete="off">
          </div>
          <div class="col-lg">
            <input type="email" class="form-control colForm" placeholder="E-mail" name="email"  [(ngModel)]="this.shopClient.email" autocomplete="off">
          </div>
          <div class="col-lg"></div>
      </div>



        <div class="row descriptionPoint">
           <div class="col-12">
             <span class="spanButton" > 2.Adres dostawy</span>
           </div>
       </div>

      <div class="row inputRow">
         <div class="col-lg"></div>
         <div class="col-lg">
            <input type="text" class="form-control colForm" placeholder="Adres" name="address" [(ngModel)]="this.shopClient.address.placeOfresident"  autocomplete="off">
        </div>
        <div class="col-lg">
           <input type="text" class="form-control colForm" placeholder="Kod Pocztowy" name="postCode" [(ngModel)]="this.shopClient.address.postCode"  autocomplete="off">
        </div>
        <div class="col-lg">
           <input type="text" class="form-control colForm" placeholder="Miejscowość" name="town" [(ngModel)]="this.shopClient.address.town"  autocomplete="off">
        </div>
        <div class="col-lg"></div>
      </div>



        <div class="row buttonRow">
          <div class="col-12">
            <input class="invoiceCheckbox" #invoiceForm id="checkboxInvoice" type="checkbox" name="InvoiceCheckbox" [(ngModel)]="invoiceCheckbox" (change)="AddFormInvoice()"> Chcę otrzymać fakturę
          </div>
        </div>

        <div id="invoiceForm">
          <div class="row descriptionPoint">
            <div class="col-12">
              <span class="spanButton" > 3.Dane do faktury</span>
            </div>
          </div>

          <div class="row inputRow">
            <div class="col-lg"></div>
            <div class="col-lg">
              <input type="text" class="form-control colForm" placeholder="Nazwa Firmy" name="businessName" [(ngModel)]="this.shopClient.business.name"  autocomplete="off">
            </div>
            <div class="col-lg">
              <input type="text" class="form-control colForm" placeholder="NIP" name="NIP" (input)="Check()" [(ngModel)]="this.shopClient.business.nip"  autocomplete="off">
            </div>
            <div class="col-lg">
              <input type="email" class="form-control colForm" placeholder="E-mail" name="businessEmail" [(ngModel)]="this.shopClient.business.email"  autocomplete="off">
            </div>
            <div class="col-lg"></div>
          </div>


          <div class="row inputRow">
            <div class="col-lg"></div>
            <div class="col-lg">
              <input type="text" class="form-control colForm" placeholder="Adres" name="businessAddress" [(ngModel)]="this.shopClient.business.address.placeOfresident"  autocomplete="off">
            </div>
            <div class="col-lg">
              <input type="text" class="form-control colForm" placeholder="Kod pocztowy" name="businessPostCode" [(ngModel)]="this.shopClient.business.address.postCode"  autocomplete="off">
            </div>
            <div class="col-lg">
              <input type="text" class="form-control colForm" placeholder="Miejscowość" name="town" [(ngModel)]="this.shopClient.business.address.town"   autocomplete="off">
            </div>
            <div class="col-lg"></div>
          </div>
        </div>


          <div class="row descriptionPoint">
            <div class="col-12">
              <span class="spanButton" > {{i}}.Dostawa</span>
            </div>
        </div>

      <div class="row">
        <div class="deliveryOption" id="personalPickupButton"  (click)="ChangeStyleForPersonalPickup()">
          Odbiór osobisty
        </div>
      </div>
      <div class="row">
        <div class="deliveryOption" id="parcelCourierButton"  (click)="ChangeStyleForParcelCourier()">
          Przesyłka Kurierska
        </div>
      </div>



      <div id="parcelCourierOption">
        <div class="row descriptionPoint">
          <div class="col-12">
            <span class="spanButton" >  {{h}}.Metody Płatności</span>
          </div>
        </div>

        <div class="row">
          <div class=" paymentMethodOption">
            <input class="paymentMethodRadioInput" type="radio" name="paymentMethod" value="Pobranie" (click)="ChangePaymentMethodToHome()"> Za pobraniem
          </div>
        </div>

        <div class="row">
          <div class=" paymentMethodOption">
            <input class="paymentMethodRadioInput" type="radio" name="paymentMethod" value="Przelew Bankowy" (click)="ChangePaymentMethodOnTransfer()"> Przelew Bankowy
          </div>
        </div>

        <div class="row">
          <div class=" colButtonOrder">
            <button  class="btn btn-outline-primary buttonOrder">Zamawiam z obowiązkiem zapłaty</button>
          </div>
        </div>
      </div>




          <div id="personalPickupOption">

             <div class="row">
               <div class="personalPickupOptionDiv">
                Nowy Sącz
                <br>
               ul.Elektrodowa 34
              </div>
            </div>
            <div class="row">
                 <div class="colButtonOrder">
                    <button  class="btn btn-outline-danger buttonOrder">Zamawiam z obowiązkiem zapłaty</button>
                 </div>
              </div>
          </div>



      </div>
    </div>
</ng-template>



<ng-template #orderAlert>
  <app-order-alert></app-order-alert>
</ng-template>
