<div class="container-fluid">
  <div class="row">
     <div class="col-sm img_container">
       <img class="colImg" id="img" [src]="product.imageByte" alt="ImageProblem">
     </div>

    <div class="col-sm descriptionContainer">
      <div class="nameProduct">{{product.productName}}</div>
      <div class="priceProduct">{{productPrice}} PLN</div>

      <ng-container [ngSwitch]="product.status">
      <div class="data" id="state" style="color:green; " *ngSwitchCase="'Dostępny'"> Status: {{product.status}} </div>
      <div class="data" id="state1" style="color:red;" *ngSwitchCase="'Niedostępny'"> Status: {{product.status}} </div>
      <div class="data" id="state2" style="color:#0000ff;" *ngSwitchDefault > Status: {{product.status}} </div>
      </ng-container>


      <div class="data" > Liczba dostępnych sztuk : {{numberOfItems}} </div>

    <div class="data">
      <div *ngIf="product.manufacturer !== 'undefined' && product.manufacturer !=='null' && product.manufacturer !==null; then exists"></div>
      <ng-template #exists >Producent: {{product.manufacturer}} </ng-template>
    </div>

    <div class="data">
      <div *ngIf="product.model !== 'undefined' && product.model !=='null' && product.model !==null; then correct"></div>
      <ng-template #correct>Model: {{product.model}} </ng-template>
    </div>

    <div class="descriptionData" >Dane Techniczne: </div>
     <ng-container *ngFor="let data of description">
       <div>
      <span>{{data}}</span>
      <br>
       </div>
     </ng-container>

      <button (click)="AddToBasket(product)" class="btn btn-outline-danger addToBasketButton">Dodaj do koszyka</button>
  </div>

  </div>



<div class="bottomRow">
  <a routerLink="/shop" ><button  class="btn btn-outline-primary returnButton" >Powrót</button></a>
</div>

</div>



<ng-template  #alert>
  <app-amount-product-alert [maxValue]="maxValue"></app-amount-product-alert>
</ng-template>

<ng-template  #addProductBasket>
  <app-add-basket-alert [product]="product"></app-add-basket-alert>
</ng-template>




