@media (max-width: 576px) {
  .article-title
  {
    text-align: center;
    padding-bottom: 5px;
    width: 80vw;
    border-bottom: 3px solid #fad38e;
    font-size: 20px;
    margin: 30px auto auto;
  }
  .selectButton
  {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 200px;
  }

  .ngcontainer_col_3
  {
    margin-top: 5vh;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

}


@media (min-width: 576px) {
  .ngcontainer_col_3
  {
    margin-top: 10vh;
    width: 50%;
  }
  .article-title
  {
    text-align: center;
    padding-bottom: 10px;
    width: 80vw;
    border-bottom: 3px solid #fad38e;
    font-size: 20px;
    margin: 30px auto auto;
  }
  .selectButton
  {
    margin-top: 5vh;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }


}


@media (min-width: 768px) {


  .article-title
  {
    text-align: center;
    padding-bottom: 10px;
    width: 500px;
    border-bottom: 3px solid #fad38e;
    margin:auto;
    font-size: 24px;
    margin-top: 30px;
  }
  .selectButton
  {
    margin-top: 20px;
    position: relative;
    width: 200px;
  }


  .ngcontainer_col_3
  {
    margin-top: 5vh;
    width: 50%;
  }


}

@media (min-width: 900px) {


  .ngcontainer_col_3
  {
    margin-top: 5vh;
    width: 33.3%;
  }
}


@media (min-width: 1200px) {

  .ngcontainer_col_3
  {
    margin-top: 5vh;
    width: 25%;
  }

}



.noProductInscription
{
  text-align: center;
  font-size: 23px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;

}


.images_product
{
  height: 200px;
  width: 200px;
  z-index: 1;
  margin: auto !important;
  display: block;
  box-shadow: 0px 0px 6px black;

}

.product_image_name
{
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  height: 100%;
  color: #3b3b3b;
}

.product_image_name_span_price
{
  font-weight: 700;
}

.details_span
{
  cursor: pointer;
  color: #3b3b3b;
}
.details_span1
{
  cursor: pointer;
}

.details_span1:hover
{
  cursor: pointer;
  color:crimson;
}

.addBasketButton
{
  cursor: pointer;
  color: crimson;
}

.addBasketButton:hover
{
  cursor: pointer;
  color:green;
}

.detailsButton
{
  cursor: pointer;
  color: blue;
}
.detailsButton:hover
{
  cursor: pointer;
  color: #333333;
}
