<div   style="text-align: center; font-size: 20px;" class="alert  alert-dismissible fade show" role="alert">
  <strong>Uwaga!</strong>Ta aplikacja została napisana wyłącznie w celach <span style="color: black; font-weight: 600;"> edukacyjnych.</span>
  Wszelakie "zakupione" przedmioty nigdy nie zostaną dostarczone.
  <br>
  <br>
  Przykladowe dane logowania do konta:
  <p style="margin-top: 5px;">Login: kawomix</p>
  <p style="margin-top: -15px;">Hasło: kawomix</p>
  <p style="font-family: 'Nunito Sans';">Pełen opis projektu znajduję się w moim portfolio <a href="https://kamil-cebula-portfolio.web.app/">https://kamil-cebula-portfolio.web.app/</a></p>
  <p>Serdecznie zapraszam!</p>
  <button (click)="CloseAlertModal()" type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
