<script src= "../../../../../assets/scripts/js.js"></script>

<div class="navbar navbar-expand-sm bg-dark navbar-dark" style="height: 6.5%; width: 100%;padding: 0; margin: 0; position: fixed; top: 0%;  z-index: 1;">
  <div (click)="ViewMenu()" class="top-bar-icons" id="menubutton " style=" width: 3.6%; text-align: center;">
    <span style="color:#c8c8c8; font-size: 27px;"><i class="las la-bars" ></i></span>
  </div>

   <div style="text-align: right; width: 96.4%;">
     <span style="color: #c8c8c8; margin-right: 2%;">
        <span style="margin-right: 30px; color:#c8c8c8; "> {{adminName}}</span>
        <span style="margin-right: 30px; color:#c8c8c8;"><i class="fa fa-envelope  "  id="testkoperta" ></i></span>
        <span style="margin-right: 30px; color:#c8c8c8;"><i class="fa fa-bell"  ><sup style="margin-left: 5px; color: yellow;   font-size: 15px;">5</sup></i></span>
        <span (click)="LogOut()" style="margin-right: 5px; color:#c8c8c8;"><i class="fa fa-sign-out-alt"></i> </span>
    </span>
  </div>

</div>



  <div class="sidebar-menu small-side-bar flowHide">
      <ul id="sidebar-menu-list" class="navbar-nav  sidebar-menu-ul">

        <li class="elementLi">
          <div class="li-body">

            <div class="li-icon-container">
              <i [routerLink]="['/admin', { outlets: {'administrator': ['panel']}}]"   class="las la-desktop li-icon-container-icon"></i>
            </div>
            <div [routerLink]="['/admin', { outlets: {'administrator': ['panel']}}]"  class="fadeInRight  animated nav-link-name name-hide tax-show description-container">Tablica</div>
          </div>
        </li>



        <li class="elementLi">
          <div class="li-body">

            <div class="li-icon-container">
              <i  class="las la-shopping-cart li-icon-container-icon"></i>
            </div>

            <a class="waves-light" (click)="test1.toggle()" mdbWavesEffect>
            <div   class="fadeInRight  animated nav-link-name name-hide tax-show description-container">Sklep</div>
            </a>
          </div>

            <div mdbCollapse [isCollapsed]="collapseState" #test1="bs-collapse" style="clear:both;">
              <div class="dropdown-container">
                <ul class="dropdown-list">
                  <li><div  class="subMenu"  [routerLink]="['/sklep']"> Do sklepu</div></li>
                  <li><div  class="subMenu " [routerLink]="['/admin', { outlets: {'administrator': ['sklep','asortyment']}}]"> Magazyn</div></li>
                  <li><div  class="subMenu " [routerLink]="['/admin', { outlets: {'administrator': ['sklep','klienci']}}]"> Klienci</div></li>
                  <li><div  class="subMenu " [routerLink]="['/admin', { outlets: {'administrator': ['sklep','zamowienia']}}]"> Zamówienia</div></li>
                  <li><div  class="subMenu sub-menu-last-item" [routerLink]="['/admin', { outlets: {'administrator': ['sklep','zarzadzanie']}}]"> Zarządzanie</div></li>
                </ul>
              </div>
            </div>

        </li>


        <li class="elementLi">
          <div class="li-body">

            <div class="li-icon-container">
              <i  class="las la-database li-icon-container-icon"></i>
            </div>

            <a class="waves-light" (click)="test2.toggle()" mdbWavesEffect>
              <div   class="fadeInRight  animated nav-link-name name-hide tax-show description-container">Serwis</div>
            </a>
          </div>

          <div mdbCollapse [isCollapsed]="collapseState" #test2="bs-collapse" style="clear:both;">
            <div class="dropdown-container">
              <ul class="dropdown-list">
                <li><div  class="subMenu " [routerLink]="['/admin', { outlets: {'administrator': ['serwis','asortyment']}}]"> Magazyn</div></li>
                <li><div  class="subMenu sub-menu-last-item" [routerLink]="['/admin', { outlets: {'administrator': ['serwis','asortyment']}}]"> Zlecenia</div></li>
              </ul>
            </div>
          </div>

        </li>





        <li class="elementLi">
          <div class="li-body">

            <div class="li-icon-container">
              <i  class="las la-book li-icon-container-icon"></i>
            </div>

            <a class="waves-light" (click)="test3.toggle()" mdbWavesEffect>
              <div   class="fadeInRight  animated nav-link-name name-hide tax-show description-container">Księgowość</div>
            </a>
          </div>

          <div mdbCollapse [isCollapsed]="collapseState" #test3="bs-collapse" style="clear:both;">
            <div class="dropdown-container">
              <ul class="dropdown-list">
                <li><div  class="subMenu " [routerLink]="['/admin', { outlets: {'administrator': ['ksiegowosc','faktury']}}]"> Faktury</div></li>
                <li><div  class="subMenu sub-menu-last-item" [routerLink]="['/admin', { outlets: {'administrator': ['ksiegowosc','faktury','dodaj']}}]"> Dodaj Fakturę</div></li>
              </ul>
            </div>
          </div>

        </li>






        <li class="elementLi">
          <div class="li-body">

            <div class="li-icon-container">
              <i  class="las la-graduation-cap li-icon-container-icon"></i>
            </div>

            <a class="waves-light" (click)="test4.toggle()" mdbWavesEffect>
              <div   class="fadeInRight  animated nav-link-name name-hide tax-show description-container">Administracja</div>
            </a>
          </div>

          <div mdbCollapse [isCollapsed]="collapseState" #test4="bs-collapse" style="clear:both;">
            <div class="dropdown-container">
              <ul class="dropdown-list">
                <li><div  class="subMenu " [routerLink]="['/admin', { outlets: {'administrator': ['ksiegowosc','faktury']}}]"> Faktury</div></li>
                <li><div  class="subMenu sub-menu-last-item" [routerLink]="['/admin', { outlets: {'administrator': ['ksiegowosc','faktury','dodaj']}}]"> Dodaj Fakturę</div></li>
              </ul>
            </div>
          </div>

        </li>



        <li class="elementLi">
          <div class="li-body">

            <div class="li-icon-container">
              <i  class="las la-file li-icon-container-icon"></i>
            </div>

            <a class="waves-light" (click)="test5.toggle()" mdbWavesEffect>
              <div   class="fadeInRight  animated nav-link-name name-hide tax-show description-container">Raporty</div>
            </a>
          </div>

          <div mdbCollapse [isCollapsed]="collapseState" #test5="bs-collapse" style="clear:both;">
            <div class="dropdown-container">
              <ul class="dropdown-list">
                <li><div  class="subMenu " [routerLink]="['/admin', { outlets: {'administrator': ['ksiegowosc','faktury']}}]"> Faktury</div></li>
                <li><div  class="subMenu sub-menu-last-item" [routerLink]="['/admin', { outlets: {'administrator': ['ksiegowosc','faktury','dodaj']}}]"> Dodaj Fakturę</div></li>
              </ul>
            </div>
          </div>

        </li>





        <li class="elementLi">
          <div class="li-body">

            <div class="li-icon-container">
              <i  class="las la-chart-area li-icon-container-icon"></i>
            </div>

            <a class="waves-light" (click)="test6.toggle()" mdbWavesEffect>
              <div   class="fadeInRight  animated nav-link-name name-hide tax-show description-container">Statystyki</div>
            </a>
          </div>

          <div mdbCollapse [isCollapsed]="collapseState" #test6="bs-collapse" style="clear:both;">
            <div class="dropdown-container">
              <ul class="dropdown-list">
                <li><div  class="subMenu " [routerLink]="['/admin', { outlets: {'administrator': ['ksiegowosc','faktury']}}]"> Faktury</div></li>
                <li><div  class="subMenu sub-menu-last-item" [routerLink]="['/admin', { outlets: {'administrator': ['ksiegowosc','faktury','dodaj']}}]"> Dodaj Fakturę</div></li>
              </ul>
            </div>
          </div>

        </li>







        <li class="elementLi">
          <div class="li-body">

            <div class="li-icon-container">
              <i  class="las la-envelope li-icon-container-icon"></i>
            </div>

            <a class="waves-light" (click)="test7.toggle()" mdbWavesEffect>
              <div  [routerLink]="['/admin', { outlets: {'administrator': ['wiadomosci']}}]"  class="fadeInRight  animated nav-link-name name-hide tax-show description-container">Wiadomości</div>
            </a>
          </div>

          <div mdbCollapse [isCollapsed]="collapseState" #test7="bs-collapse" style="clear:both;">
            <div class="dropdown-container">
              <ul class="dropdown-list">
                <li><div  class="subMenu " [routerLink]="['/admin', { outlets: {'administrator': ['ksiegowosc','faktury']}}]"> Faktury</div></li>
                <li><div  class="subMenu sub-menu-last-item" [routerLink]="['/admin', { outlets: {'administrator': ['ksiegowosc','faktury','dodaj']}}]"> Dodaj Fakturę</div></li>
              </ul>
            </div>
          </div>

        </li>





        <li class="elementLi">
          <div class="li-body">

            <div class="li-icon-container">
              <i  class="las la-user li-icon-container-icon"></i>
            </div>

            <a class="waves-light" (click)="test8.toggle()" mdbWavesEffect>
              <div  [routerLink]="['/admin', { outlets: {'administrator': ['wiadomosci']}}]"  class="fadeInRight  animated nav-link-name name-hide tax-show description-container">Użytkownicy</div>
            </a>
          </div>

          <div mdbCollapse [isCollapsed]="collapseState" #test8="bs-collapse" style="clear:both;">
            <div class="dropdown-container">
              <ul class="dropdown-list">
                <li><div  class="subMenu " [routerLink]="['/admin', { outlets: {'administrator': ['ksiegowosc','faktury']}}]"> Faktury</div></li>
                <li><div  class="subMenu sub-menu-last-item" [routerLink]="['/admin', { outlets: {'administrator': ['ksiegowosc','faktury','dodaj']}}]"> Dodaj Fakturę</div></li>
              </ul>
            </div>
          </div>

        </li>





        <li class="elementLi">
          <div class="li-body">

            <div class="li-icon-container">
              <i  class="las la-cogs li-icon-container-icon"></i>
            </div>

            <a class="waves-light" (click)="test9.toggle()" mdbWavesEffect>
              <div  [routerLink]="['/admin', { outlets: {'administrator': ['wiadomosci']}}]"  class="fadeInRight  animated nav-link-name name-hide tax-show description-container">Ustawienia</div>
            </a>
          </div>

          <div mdbCollapse [isCollapsed]="collapseState" #test9="bs-collapse" style="clear:both;">
            <div class="dropdown-container">
              <ul class="dropdown-list">
                <li><div  class="subMenu " [routerLink]="['/admin', { outlets: {'administrator': ['ksiegowosc','faktury']}}]"> Faktury</div></li>
                <li><div  class="subMenu sub-menu-last-item" [routerLink]="['/admin', { outlets: {'administrator': ['ksiegowosc','faktury','dodaj']}}]"> Dodaj Fakturę</div></li>
              </ul>
            </div>
          </div>
        </li>



      </ul>
  </div>


  <div id="outlet-container" class="big-size rest">
    <router-outlet name="administrator"></router-outlet>
  </div>





