


@media (max-width: 576px) {
  .article-title
  {
    text-align: center;
    padding-bottom: 10px;
    width: 80vw;
    border-bottom: 3px solid #fad38e;
    margin:auto;
    font-size: 20px;
    margin-top: 30px;
  }
  .selectButton
  {
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    width: 200px;
  }

  .colCentreMainCategoryField
  {
    background-color:  #ccffff;
    margin-left: auto;
    margin-right: auto;
  }

  .imgContainer
  {
    margin-top: 5vh;
  }
}

@media (min-width: 576px) {




}

@media (min-width: 768px) {

  .article-title
  {
    text-align: center;
    padding-bottom: 10px;
    width: 500px;
    border-bottom: 3px solid #fad38e;
    margin:auto;
    font-size: 24px;
    margin-top: 30px;
  }
  .selectButton
  {
    margin-top: 10px;
    position: relative;
    left: 83vw;
    width: 200px;
  }
  .mainCategoryField
  {
    margin-top: 2vh;
  }

  .colCentreMainCategoryField
  {
    background-color:  #ccffff;
    margin-left: 50px;
  }


}

@media (min-width: 992px) {


}

@media (min-width: 1200px) {



}







.panelCategories:nth-of-type(1n+15) {
    display: none;
  }


.inscription
{
  font-size: 22px;
  text-align: left;
  color: blue;
  margin-bottom: 10px;
}
 ul>li
 {
   color: blue;
 }
li:hover
{
  cursor: pointer;
}

.bottomInscription
{
  border: 2px solid blue;
  font-size: 18px;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
  border-radius: 18px;
  color: blue;
}
.bottomInscription:hover
{
  color: white;
  background-color: blue;
  cursor: pointer;
}

.image
{
  height: 200px;
  width: 200px;
  z-index: 1;
  margin: auto !important;
  display: block;
  box-shadow: 0px 0px 6px black;


}
.image:hover
{
  cursor: pointer;
}

.imageDescription
{
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  height: 100%;
  color: #3b3b3b;
}

.spanProductPrice
{
  font-weight: 700;
}
.addBasketButton
{
  cursor: pointer;
  color: crimson;
}

.addBasketButton:hover
{
  cursor: pointer;
  color:green;
}

.detailsButton
{
  cursor: pointer;
  color: blue;
}
.detailsButton:hover
{
  cursor: pointer;
  color: #333333;
}

.paginationContainer
{
  text-align: center;
}

.noProductInscription
{
  text-align: center;
  font-size: 23px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;

}
.modalContainer
{
  height: 100%;
}
.modalSearchListInput
{
  width: 300px;
  margin-left: 20px;
}

.modalColumn
{
   column-count: 4;
   column-gap: 40px;
  text-align: left;
}

.modal-center
{
  background-color:white;
  border: 1px solid black;
  width: 100%;
  overflow-y: scroll;
}
.modalBodyRow
{
  height: 300px;
}

