<ng-container *ngIf="orders.length > 0, else empty,then contains "></ng-container>

<ng-template #contains>

<div>
  <div class="summaryTitle">
    Podsumowanie
  </div>
  <table class="table basketTable">
    <thead>
    <tr>
      <td></td>
      <td>Nazwa</td>
      <td>Ilość</td>
      <td>Cena netto</td>
      <td>Cena brutto</td>
      <td>Razem brutto</td>
      <td>Akcje</td>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let order of orders; let i = index;" >
        <td><img [src]="order.image" alt=" " class="productImg"></td>
        <td>{{order.nameOfProduct}}</td>
        <td><input type="text" class="productNumberOfItemsInput form-control" name="numberOfItems" [(ngModel)]="order.numberOfItems"   (input)="Count(order)"  autocomplete="off"  ></td>
        <td>{{order.bruttoPrice/1.23|sorting}}</td>
        <td>{{order.bruttoPrice}}</td>
        <td>{{order.bruttoPrice * order.numberOfItems}} zł</td>
      <td><button (click)="DeleteProduct(order.idProduct)" class="btn btn-outline-danger">Usuń</button></td>
    </tr>

<!--    <tr  id="parcel" style="visibility: hidden;">-->

<!--        <td><span style="font-size: 30px;"><i class="fa fa-bus" aria-hidden="true"></i></span></td>-->
<!--        <td>{{nameOfParcel}}</td>-->
<!--        <td>{{countParcel}}</td>-->
<!--        <td>{{parcelPrice/1.23|sorting}}</td>-->
<!--        <td>{{parcelPrice}}</td>-->
<!--        <td>{{parcelPrice}} zł</td>-->
<!--        <td></td>-->

<!--    </tr>-->

    <tr>
    <td> </td>
    <td> </td>
    <td> </td>
    <td> </td>
    <td class="sumPaidInscription">Razem </td>
    <td> {{sumMoney}} zł</td>
    </tr>

    </tbody>
    <button type ="button" class="btn btn-outline-dark supplyButton" (click)="toSupply()">Dostawa i Płatność</button>
  </table>

  <app-delivery-and-payment  [orders]="orders" [sumMoney]="sumMoney"></app-delivery-and-payment>

</div>
</ng-template>


<ng-template  #empty>
  <div class="col-12 noProductInscription">
    Twój koszyk jest pusty
  </div>
</ng-template>
