
@media (max-width: 576px) {
  .summaryTitle
  {
    text-align: center;
    padding-bottom: 10px;
    width: 200px;
    border-bottom: 3px solid #fad38e;
    margin:auto;
    font-size: 20px;
    margin-top: 30px;
  }
  table{
    display: none;
  }

  .productImg
  {
    margin-top: 50px;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
  }
  .productImg
  {
    width: 100px;
    height: 100px;
    margin: auto;
    display: block;
  }

}

@media (min-width: 576px) {




}

@media (min-width: 768px) {
  .summaryTitle
  {
    text-align: center;
    padding-bottom: 10px;
    width: 500px;
    border-bottom: 3px solid #fad38e;
    margin:auto; font-size: 24px;
  }
  .basketTable
  {
    margin-top: 50px;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
  }
  only-smartphone
  {
    display: none;
  }
  .productImg
  {
    width: 80px;
    height: 80px;
  }




}

@media (min-width: 992px) {


}

@media (min-width: 1200px) {



}




thead td
{
  color: black;
  font-weight: 700;
  border-bottom: 2px;
}
td
{text-align: center;
}

.button
{
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.spanButton
{
  margin-left: 50px;
  font-size: 20px;

}
.navbartop
{
  height: 45px;
  background-color: #231f20;
  text-align: right;
}

#colHidden
{
  display: none;
}

.colForm
{
  width: 200px;
}

.deliveryOption
{


  border: 3px solid #fad38e;
  border-radius: 20px;
  height: 50px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  margin-left: 5vw;
  margin-top:30px;
  padding-top: 7px;
 }
.deliveryOption:hover
{
  cursor: pointer;
}
a
{
  text-decoration: none;
}

.noProductInscription
{
  text-align: center;
  font-size: 23px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 92px;

}



.productNumberOfItemsInput
{
  width: 100px;
  text-align: center;
  margin: auto;
}
.sumPaidInscription
{
   font-weight: 700;
}
.supplyButton
{
  margin-top: 50px;
}
