<script src= "src/assets/scripts/js.js"></script>

<div class="navbar navbar-expand-sm bg-dark navbar-dark" style="height: 6.5%; width: 100%; position: fixed; top: 0%;  z-index: 1;">
  <div (click)="ViewMenu()" class="hamburger top-bar-icons" id="menubutton">
    <div class="cta">
      <div class="toggle-btn type14"></div>
    </div>
  </div>



  <!-- Links -->
  <ul class="navbar-nav ml-auto" >
    <li class="nav-item">
      <span style="margin-right: 30px; color:#c8c8c8; "> {{adminName}}</span>
    </li>
    <li class="nav-item top-bar-icons">
      <span style="margin-right: 30px; color:#c8c8c8;"><i class="fa fa-envelope " id="testkoperta" ></i></span>
    </li>
    <li class="nav-item top-bar-icons">
      <span style="margin-right: 30px; color:#c8c8c8;"><i class="fa fa-bell"  ><sup style="margin-left: 5px; color: yellow;   font-size: 15px;">5</sup></i></span>
    </li>

    <li class="nav-item top-bar-icons">
      <span (click)="LogOut()" style="margin-right: 5px; color:#c8c8c8;"><i class="fa fa-sign-out "></i> </span>
    </li>
  </ul>
</div>



  <div class="sidebar-menu small-side-bar flowHide" style=" float: left;">
      <ul class="navbar-nav" style="position: fixed; top: 7%; width: 15%;  ">



        <li class="elementLi">
          <div class="li-body">

            <div class="li-icon-container">
              <i  class="las la-desktop li-icon-container-icon"></i>
            </div>
            <div  class="fadeInRight  animated nav-link-name name-hide tax-show description-container">Tablica</div>
          </div>
        </li>



        <li class="elementLi">
          <div class="li-body">

              <div class="li-icon-container">
                <i  class="las la-shopping-cart li-icon-container-icon"></i>
              </div>

              <a (click)="i=1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1" data-toggle="collapse" href="#multiCollapseExample1">
               <div  class="fadeInRight  animated nav-link-name name-hide tax-show description-container">Sklep</div>
             </a>

          </div>

          <ng-container  *ngIf="i === 1">
          <div   style="clear: both; border: 1px solid red; " class="collapse multi-collapse" id="multiCollapseExample1" >
            <div class="dropdown-container">
              <ul class="dropdown-list">
                <li><div  class="subMenu"  [routerLink]="['/shop']"> Do sklepu</div></li>
                <li><div  class="subMenu sub-menu-last-item" [routerLink]="['/admin', { outlets: {'administrator': ['sklep','asortyment']}}]"> Magazyn</div></li>
                <li><div  class="subMenu sub-menu-last-item" [routerLink]="['/admin', { outlets: {'administrator': ['sklep','klienci']}}]"> Klienci</div></li>
                <li><div  class="subMenu sub-menu-last-item" [routerLink]="['/admin', { outlets: {'administrator': ['sklep','zamowienia']}}]"> Zamówienia</div></li>
                <li><div  class="subMenu sub-menu-last-item" [routerLink]="['/admin', { outlets: {'administrator': ['sklep','zarzadzanie']}}]"> Zarządzanie</div></li>
              </ul>
            </div>
          </div>
          </ng-container>
        </li>





        <li class="elementLi">
          <div class="li-body">

            <div class="li-icon-container">
              <i  class="las la-database li-icon-container-icon"></i>
            </div>

            <a (click)="i=1" role="button" aria-expanded="false" aria-controls="multiCollapseExample2" data-toggle="collapse" href="#multiCollapseExample2">
              <div  class="fadeInRight  animated nav-link-name name-hide tax-show description-container">Serwis</div>
            </a>

          </div>

          <ng-container  *ngIf="i === 1">
            <div   style="clear: both; border: 1px solid red; " class="collapse multi-collapse" id="multiCollapseExample2" >
              <div class="dropdown-container">
                <ul class="dropdown-list">
                  <li><div  class="subMenu sub-menu-last-item" [routerLink]="['/admin', { outlets: {'administrator': ['serwis','asortyment']}}]"> Magazyn</div></li>
                  <li><div  class="subMenu sub-menu-last-item" [routerLink]="['/admin', { outlets: {'administrator': ['serwis','asortyment']}}]"> Zlecenia</div></li>
                </ul>
              </div>
            </div>
          </ng-container>
        </li>




        <li class="elementLi">
          <div class="li-body">

            <div class="li-icon-container">
              <i  class="las la-book li-icon-container-icon"></i>
            </div>

            <a (click)="i=1" role="button" aria-expanded="false" aria-controls="multiCollapseExample3" data-toggle="collapse" href="#multiCollapseExample3">
              <div  class="fadeInRight  animated nav-link-name name-hide tax-show description-container">Księgowość</div>
            </a>

          </div>

          <ng-container  *ngIf="i === 1">
            <div   style="clear: both; border: 1px solid red; " class="collapse multi-collapse" id="multiCollapseExample3" >
              <div class="dropdown-container">
                <ul class="dropdown-list">
                  <li><div  class="subMenu sub-menu-last-item" [routerLink]="['/admin', { outlets: {'administrator': ['ksiegowosc','faktury']}}]"> Faktury</div></li>
                  <li><div  class="subMenu sub-menu-last-item" [routerLink]="['/admin', { outlets: {'administrator': ['ksiegowosc','faktury','dodaj']}}]"> Dodaj Fakturę</div></li>
                </ul>
              </div>
            </div>
          </ng-container>
        </li>


        <li class="elementLi">
          <div class="li-body">

            <div class="li-icon-container">
              <i  class="las la-graduation-cap li-icon-container-icon"></i>
            </div>
            <div  class="fadeInRight  animated nav-link-name name-hide tax-show description-container">Administracja</div>

          </div>
        </li>

        <li class="elementLi">
          <div class="li-body">

            <div class="li-icon-container">
              <i  class="las la-file li-icon-container-icon"></i>
            </div>
            <div  class="fadeInRight  animated nav-link-name name-hide tax-show description-container">Raporty</div>

          </div>
        </li>


        <li class="elementLi">
          <div class="li-body">

            <div class="li-icon-container">
              <i  class="las la-chart-area li-icon-container-icon"></i>
            </div>
            <div  class="fadeInRight  animated nav-link-name name-hide tax-show description-container">Statystyki</div>

          </div>
        </li>


        <li class="elementLi">
          <div class="li-body">

            <div class="li-icon-container">
              <i  class="las la-envelope li-icon-container-icon"></i>
            </div>
            <div  [routerLink]="['/admin', { outlets: {'administrator': ['wiadomosci']}}]" class="fadeInRight  animated nav-link-name name-hide tax-show description-container">Wiadomości</div>

          </div>
        </li>

        <li class="elementLi">
          <div class="li-body">

            <div class="li-icon-container">
              <i  class="las la-user li-icon-container-icon"></i>
            </div>
            <div   class="fadeInRight  animated nav-link-name name-hide tax-show description-container">Użytkownicy</div>

          </div>
        </li>

        <li class="elementLi">
          <div class="li-body">

            <div class="li-icon-container">
              <i  class="las la-cogs li-icon-container-icon"></i>
            </div>
            <div   class="fadeInRight  animated nav-link-name name-hide tax-show description-container">Ustawienia</div>

          </div>
        </li>
      </ul>
  </div>


  <div id="outlet-container" class="big-size rest">
    <router-outlet name="administrator"></router-outlet>
  </div>





