<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.1/jspdf.debug.js" integrity="sha384-THVO/sM0mFD9h7dfSndI6TS0PgAGavwKvB5hAxRRvc0o9cPLohB0wb/PTA7LdUHs" crossorigin="anonymous"></script>





  <div class="container">
    <div class="row">
      <div class="col-12 page-title">
        Klienci Sklepu
      </div>
    </div>

    <div class="row buttons-line-row">
      <div class="col-9 buttons-line-col">

        <button   class="btn btn-table" id="button-one" [routerLink]="['/admin', { outlets: {'administrator': ['sklep','klienci','dodaj']}}]">Dodaj nowy</button>
        <button  class="btn btn-table btn-table-left " id="button-two">Eksportuj zaznaczone</button>
        <button  class="btn btn-table btn-table-left" id="button-three" (click)="GeneratePdf()" >Pobierz do Pdf</button>
        <button class="btn btn-table btn-table-left" id="button-four" (click)="ShowModalDeleteItem()">Usuń zaznaczone</button>

        <div class="btn-table-left"  style=" display: inline-block;  ">
          <select class="select-option form-control"  style="margin-top: 20px;" autocomplete="off" (change)="Sort()" [(ngModel)]="sorting">
            <option>Sortuj wg</option>
            <option>Alfabetycznie</option>
          </select>
        </div>

      </div>

      <div class="col-3 search-line-col">
        <input  type="text" placeholder="Szukaj" class="form-control" style="border:none; border-bottom: 1px solid gray; border-radius: 0px;" (keyup)="Search($event)">
      </div>
    </div>



    <div class="row table-row">
      <div class="col-12">


        <table class="table" id="table" #tableScreen>
          <thead>
          <tr>
            <td></td>
            <td>Imie</td>
            <td>Nazwisko</td>
            <td>E-mail</td>
            <td>Nr.tel</td>
            <td>Status</td>
            <td>Akcje</td>
          </tr>
          </thead>

          <tbody>
          <tr class="tr-data" *ngFor="let client of shopClients| paginate:{id:'listing_pagination',itemsPerPage:3, currentPage:page,totalItems:totalRecords};let i = index">
            <td><label  class="checkbox"> <input #checkboxSelectedInput [(ngModel)]="checkboxSelected[((page-1)*itemsPerPage)+i]"  type="checkbox" name="selectedInput" (click)="SelectRow(client,i)"> </label></td>
            <td>{{client.name}}</td>
            <td>{{client.surname}}</td>
            <td>{{client.email}}</td>
            <td>{{client.phoneNumber}}</td>
            <td>{{client.state}}</td>
            <td>
              <span [routerLink]="['/admin', { outlets: {'administrator': ['sklep','klienci','edytuj',client.id]}}]" > <i style="color:#FFC107; margin-right: 8px; font-size: 17px;" class="fa fa-pencil" aria-hidden="true"></i></span>
              <span (click)="ShowAlertDeleteOneProductModal(client)"> <i style="color:#E34724; margin-left: 8px; font-size: 17px;" class="fa fa-trash" aria-hidden="true"></i></span>
            </td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>

    <ng-container *ngIf="shopClients.length > 3; then exists; else noexists"></ng-container>

    <ng-template #exists >
      <div class="paginationContainer">
        <pagination-controls [nextLabel]="'Następny'" [previousLabel]="'Poprzedni'" id="listing_pagination" maxSize="3" directionLinks="true" (pageChange)="page=$event"></pagination-controls>
      </div>
    </ng-template>

    <ng-template #noexists>
    </ng-template>

  </div>




<ng-template #DeleteAlert>

  <div  style="text-align: center;" class="alert  fade show" role="alert">

    <button  (click)="CloseAlertModal()" type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>

    <div class="row">
      <div class="col-12" style="text-align: center;font-size: 24px;">

        <strong>Czy napewno chcesz usunąć te przedmioty?</strong>
      </div>
    </div>


    <div class="row " style="margin-top: 30px; margin-right: auto; margin-left: auto;">


      <div class="col">
        <button (click)="ConfirmDelete()"  type="button" class="btn btn-outline-danger"> Tak, chcę usunąć</button>
      </div>

      <div class="col">
        <button (click)="RejectDelete()" type="button" class="btn btn-outline-success">Nie chce usuwać</button>
      </div>


    </div>
  </div>
</ng-template>



<ng-template #DeleteOneClientAlert>

  <div  style="text-align: center;" class="alert  fade show" role="alert">

    <button  (click)="CloseAlertModal()" type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>

    <div class="row">
      <div class="col-12" style="text-align: center;font-size: 24px;">

        <strong>Czy napewno chcesz usunąć tego klienta ?</strong>
      </div>
    </div>


    <div class="row " style="margin-top: 30px; margin-right: auto; margin-left: auto;">


      <div class="col">
        <button (click)="DeleteShopClientById(shopClient.id)"  type="button" class="btn btn-outline-danger"> Tak, chcę usunąć</button>
      </div>

      <div class="col">
        <button (click)="CloseAlertModal()" type="button" class="btn btn-outline-success">Nie chce usuwać</button>
      </div>


    </div>
  </div>
</ng-template>
